// Global variables
@import "modules/variables.scss";

@font-face {
    font-family: 'Iconfont';
    src: url('../library/fonts/icomoon.eot'),
        url('../library/fonts/icomoon.woff') format('woff'),
        url('../library/fonts/icomoon.ttf') format('truetype'),
        url('../library/fonts/icomoon.svg') format('svg');
    font-style: normal;
    font-weight: normal;
}

.block-editor-block-list__block:not(.is-selected):not(.editor-post-title) {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-weight: 400;
    font-family: $font-body;
    font-size: 16px;
    color: $text;
    letter-spacing: 1px;

    // Lib
    @import "lib/slick";
    @import "lib/slick-theme";
    @import "lib/aos";
    @import "lib/lity";
    @import "lib/map";

    // Reset and general styling
    @import "partials/base.scss";
    @import "partials/tools.scss";
    @import "partials/typography.scss";
    @import "partials/inputs.scss";
    @import "partials/buttons.scss";
    @import "partials/styling.scss";

    // Component specific styling
    @import "partials/components/header";
    @import "partials/components/not-found";
    @import "partials/components/footer";
    @import "partials/components/mobile-nav";

    // Gutenberg
    @import "partials/components/gutenberg/contact";
    @import "partials/components/gutenberg/cta-deal";
    @import "partials/components/gutenberg/cta-device";
    @import "partials/components/gutenberg/hero";
    @import "partials/components/gutenberg/marquee";
    @import "partials/components/gutenberg/pricing";
    @import "partials/components/gutenberg/review-slider";
    @import "partials/components/gutenberg/team-archive";
    @import "partials/components/gutenberg/text-image";
    @import "partials/components/gutenberg/workout-slider";
    @import "partials/components/gutenberg/long-text";
    @import "partials/components/gutenberg/concepts";

    // Theme specific styling
    @import "partials/themes/enerstudios";

    .card {
        max-width: 100%;
        border: none;
    box-shadow: none;
    padding: 0;
    }

    .slider {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        > * {
            display: none;
        }
    }

    .highlight {
        color: $text;
        background: transparent;
    }

    .review-slider .reviews .review {
    min-width: 500px !important;
    }

    section.marquee .marquee-slider {
    display: flex;

    .text {
        white-space: nowrap;
        height: 120px;
    }
    }

        section.pricing .content {
    padding-top: 80px !important;
    }

    section.contact .content {
    padding-top: 80px !important;
    }

section.team-archive {
.content {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
    }

    .masonry {
    display: flex;
    margin: 0 -10px;
    flex-wrap: wrap;

    .grid-sizer,
    .gutter-sizer {
    display: none;
    }

    .team-member {
    margin: 10px;
    width: calc(33.333% - 20px);
        max-width: calc(33.333% - 20px);
            flex-basis: calc(33.333% - 20px);
    }
}
}


    .btn.arrow {
    width: auto;
    height: auto;
    position: static;
    margin: 0;
    bottom: auto;
    }
}

.block-editor-block-list__block {
    max-width: 100%;
}
