section.contact {
    .card {
        position: relative;
        z-index: 5;
        width: 2000px;
        max-width: calc(100% - 20px);
        margin: 0 auto;
        color: $white;

        a {
            color: $white;
        }

        &:before {
            content: '';
            position: absolute;
            left: 10px;
            top: 0;
            right: 10px;
            height: 700px;
            border-radius: $radius-mid;
            background: $blue;
            z-index: -1;
        }

        .content {
            max-width: 600px;
            text-align: center;
            padding-top: 200px;
            margin: 0 auto;
            padding-bottom: 200px;

            h1 {
                color: $green;
            }

            .buttons .btn:nth-child(2) {
                background: transparent !important;
                color: $white !important;

                &:hover,
                &:focus {
                    background: $black !important;
                    color: $white !important;
                    border-color: $black !important;
                }
            }
        }
    }

    .flex-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        position: relative;
        z-index: 10;
        margin-top: -100px;

        .text-wrap {
            width: calc(40% - 80px);
            max-width: calc(40% - 80px);
            flex-basis: calc(40% - 80px);
            position: relative;
            z-index: 5;
            background: $green;
            padding: 40px;
            border-radius: $radius-mid;
            margin-top: 80px;
            color: $text;

            h3 {
                font-size: 1rem;
                margin-bottom: 5px;
                text-transform: uppercase;
                font-weight: 700;
            }

            .group {
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }

                > *:last-child {
                    margin-bottom: 0;
                }
            }

            .phone,
            .email {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                &:before {
                    @extend .icon-font;
                    content: '\e905';
                    margin-right: 10px;
                }
            }

            .email:before {
                content: '\e906';
                font-size: .8rem;
            }

            a {
                color: $text;
            }

            h2 {
                font-weight: 700;
            }

            > *:last-child {
                margin-bottom: 0;
            }
        }

        .mapbox {
            margin-left: -80px;
            width: calc(60% + 160px);
            max-width: calc(60% + 160px);
            flex-basis: calc(60% + 160px);
            position: relative;
            display: block;
            border-radius: $radius-mid;
            overflow: hidden;
            background: grey;

            &:before {
                content: '';
                padding-top: 75%;
                display: block;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    section.contact {
        .card {
            &:before {
                height: 500px;
            }

            .content {
                        padding: 40px 10px 40px 10px;
        text-align: left;
            }

            .flex-wrapper {
                display: block;
                margin: 0;

                .text-wrap {
                    padding: 20px;
                }

                > * {
                    width: 100%;
                    max-width: 100%;
                    flex-basis: 100%;
                    margin: 0 0 20px 0;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 991px) {
section.contact .flex-wrapper .text-wrap .btn {
    display: flex;
    width: 100%;
}
}
