.rtl section.concepts .concepts-list .concept {
    .circle-btn,
    .coming-soon {
        margin-right: auto;
        margin-left: 0;
    }

    img {
        margin-right: 0;
        margin-left: 30px;
    }
}

section.concepts {
    h2 {
        font-size: 1.25rem;
        text-transform: uppercase;
        margin-bottom: 30px;
        font-weight: 700;
    }

    .concepts-list .concept {
        padding-bottom: 60px;
        margin-bottom: 60px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: flex-start;

        img {
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: 30px;
            height: 50px;
        }

        .text {
            opacity: .75;
            font-size: 1.25rem;
            line-height: 1.3;
        }

        .circle-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            background: $blue;
            margin-left: auto;
            flex-shrink: 0;
            flex-grow: 0;
            border-radius: 100%;
            font-size: 0;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover,
            &:focus {
                background: $green;

                &:before {
                    color: $black;
                }
            }

            &:before {
                @extend .icon-font;
                content: '\e908';
                font-size: 1rem;
                color: $white;
                transition: all 0.3s ease-in-out;
            }
        }

        .coming-soon {
            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.1rem;

            &:before {
                @extend .icon-font;
                content: '\e90c';
                margin-right: 10px;
            }
        }

        &:first-child {
            padding-top: 60px;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border: none;
        }
    }
}

@media only screen and (max-width: 991px) {
    section.concepts .concepts-list .concept {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        img,
        .text {
            margin: 0 0 20px 0;
        }

        .circle-btn,
        .coming-soon {
            margin: 0 auto !important;
        }
    }
}
