.rtl section.cta-deal .card .content .deal .wrap .price {
    .old {
        margin-left: 0;
        margin-right: 10px;
    }
}

section.cta-deal {
    padding-bottom: 80px;

    .card {
        position: relative;
        width: 2000px;
        max-width: calc(100% - 20px);
        margin: 0 auto;

        .image {
            display: block;
            position: absolute;
            height: calc(100% - 120px);
            width: 100%;
            border-radius: $radius-mid;
            overflow: hidden;
            top: 80px;

            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .content {
            background: $blue;
            padding: 40px;
            color: $white;
            max-width: 500px;
            border-radius: $radius-mid;

            h2 {
                color: $green;
            }

            > *:last-child {
                margin-bottom: 0;
            }

            .deal {
                border: 1px solid $white;
                border-radius: $radius-small;
                padding: 20px;

                h3 {
                    font-size: 1.25rem;
                    font-weight: 400;

                    span {
                        color: $green;
                        font-weight: 900;
                    }
                }

                > *:last-child {
                    margin-bottom: 0;
                }

                .wrap {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .price {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;

                        .new {
                            font-weight: 700;
                            font-size: 1.5rem;
                        }

                        .old {
                            margin-left: 10px;
                            font-size: .9rem;
                            text-decoration: line-through;

                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    section.cta-deal {

        .card {
            .content {
                padding: 20px;

                .deal .wrap {
                    flex-direction: column-reverse;
                    align-items: flex-start;
                }

                .btn {
                    width: 100%;
                    display: flex;
                    margin: 10px 0 0 0;
                }
            }
        }
    }
}
