.rtl section.cta-device .content {
    margin-right: auto;
}

section.cta-device {
    .card {
        background: $green;
        border-radius: $radius-mid;
        position: relative;
        width: 2000px;
        max-width: calc(100% - 20px);
        margin: 0 auto;
    }

    .content {
        width: 50%;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .btn {
            color: $green !important;
        }
    }

    img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 50%;
        max-height: calc(100% - 240px);
        object-fit: contain;
        object-position: right;
    }
}

@media only screen and (max-width: 991px) {
    section.cta-device .card {
        padding-bottom: 20px;

        .container {
            padding: 20px 20px 0 20px !important;
        }

        .content {
            width: 100%;
            min-height: auto;
            margin-bottom: 40px;
        }

        .container {
            padding-bottom: 0 !important;
        }

        img {
            display: block;
            width: calc(100% - 20px);
            max-height: 100%;
            position: static;
            transform: none;
            margin-left: 20px;
        }
    }
}
