section.hero {
    overflow: hidden;

    &.blue .card {
        background: $blue;
        color: $white;

        a {
            color: $white;
        }

        h1 {
            color: $green;
        }

        .buttons {
            .btn:nth-child(1) {
                background: $green !important;
                color: $black !important;
                border-color: $green !important;

                &:hover,
                &:focus {
                    background: $black !important;
                    color: $white !important;
                    border-color: $black !important;
                }
            }

            .btn:nth-child(2) {
                background: transparent !important;
                color: $white !important;
                border-color: $white !important;

                &:hover,
                &:focus {
                    background: $black !important;
                    color: $white !important;
                    border-color: $black !important;
                }
            }
        }
    }

    .card {
        margin: 0 10px;
        background: $green;
        border-radius: $radius-mid;
        position: relative;

        .container {
            padding: 0 !important;
            position: static;
        }

        .logo {
            display: block;
            height: 20px;
            max-width: 100%;
            object-position: left top;
            object-fit: contain;
            margin-bottom: 20px;
        }

        .buttons {
            .btn:nth-child(1) {
                background: $blue !important;
                color: $green !important;
                border-color: $blue !important;

                &:hover,
                &:focus {
                    background: $black !important;
                    color: $white !important;
                    border-color: $black !important;
                }
            }

            .btn:nth-child(2) {
                background: transparent !important;
                color: $blue !important;
                border-color: $blue !important;

                &:hover,
                &:focus {
                    background: $black !important;
                    color: $white !important;
                    border-color: $black !important;
                }
            }
        }
    }

    &:not(.large) {
        .card {
            padding: 10px;
        }

        .flex-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin: 0 -40px;

            > * {
                width: calc(50% - 80px);
                max-width: calc(50% - 80px);
                flex-basis: calc(50% - 80px);
                margin: 0 40px;

                &:last-child {
                    margin-bottom: 0;
                }

                &.content {
                    padding-left: 20px;
                }

                &.image {
                    position: relative;
                    display: block;
                    border-radius: $radius-mid;
                    overflow: hidden;

                    &:before {
                        content: '';
                        padding-top: 125%;
                        display: block;
                    }

                    img {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }
    }

    &.large {
        .container {
            padding-bottom: 120px !important;
        }

        .meta-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .buttons {
                flex-grow: 0;
                flex-shrink: 0;
            }
        }

        .flex-wrapper {
            display: flex;
            flex-direction: column-reverse;

            .image {
                display: block;
                position: absolute;
                height: 390px;
                border-radius: $radius-mid;
                overflow: hidden;
                left: 10px;
                top: 10px;
                right: 10px;

                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .content {
                margin-top: 280px;
                padding: 0 30px;
                position: relative;
                z-index: 5;

                p {
                    max-width: 600px;
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    section.hero {
        &.large {
            .container {
                padding-bottom: 40px !important;
            }
            .flex-wrapper {
            .image {
                height: 225px !important;
            }

            .content {
                margin-top: 200px;
            }
            }

            .meta-wrapper {
                display: block;
                margin: 0;

                > * {
                    width: 100%;
                    max-width: 100%;
                    flex-basis: 100%;
                    margin: 0 0 20px 0;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        &:not(.large) {
            .card {
                padding: 40px 10px 10px 10px;
            }

            .flex-wrapper {
                display: block;
                margin: 0;

                > * {
                    width: 100%;
                    max-width: 100%;
                    flex-basis: 100%;
                    margin: 0 0 20px 0;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1800px) {
    section.hero .card .flex-wrapper {
        .content {
            margin-top: 430px;
        }

        .image {
            height: 540px;
        }
    }
}
