section.long-text {
    .content {
        max-width: 800px;
        margin: 0 auto;

        > *:last-child {
            margin-bottom: 0;
        }

        img {
            display: block;
            width: 100%;
            border-radius: $radius-mid;
        }
    }
}
