section.long-text {
    .iframe-wrapper {
        background: #fff;
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 30px;
        padding: 30px;

        iframe {
            border: none;
            outline: none;
            margin: 0;
        }
    }

    &.full-width .content {
        max-width: 100%;
        width: 100%;
    }

    .content {
        max-width: 800px;
        margin: 0 auto;

        > *:last-child {
            margin-bottom: 0;
        }

        img {
            display: block;
            width: 100%;
            border-radius: $radius-mid;
        }
    }
}
