section.marquee {
    overflow: hidden;

    .container {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }

    &.green .js-marquee .text {
        color: $green;
    }

    .marquee-slider {
        height: 120px;
    }

    .text {
        margin-bottom: 0;
        margin-right: 20px;
        font-size: 120px;
        font-family: $font-pixel;
        font-weight: 400;
    }

    .js-marquee {
        display: flex;
        margin-right: 0 !important;
    }
}

@media only screen and (max-width: 991px) {
    section.marquee {
        padding-top: 80px !important;
    }
}
