.rtl section.marquee {
    height: 120px;

    @media only screen and (max-width: 991px) {
        height: 80px;
    }

    .marquee-slider {
        height: 150px;
        display: none;
    }
}

section.marquee {
    overflow: hidden;

    .container {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        max-width: 100%;
    }

    &.green .text {
        color: $green;
    }

    .marquee-slider {
        height: 140px;
    }

    .text {
        margin-bottom: 0;
        margin-right: 20px;
        font-size: 140px;
        font-family: $font-pixel;
        font-weight: 400;
    }

    .js-marquee {
        display: flex;
        margin-right: 0 !important;
    }
}

@media only screen and (max-width: 991px) {
    .rtl section.marquee .marquee-slider {
        height: 100px;
    }

    section.marquee {
        .text {
            font-size: 90px;
        }

        .marquee-slider {
            height: 90px;
        }
    }
}
