section.marquee {
    overflow: hidden;

    &.green .js-marquee .text {
        color: $green;
    }

    .container {
        padding-bottom: 80px;
    }

    .marquee-slider {
        height: 80px;
    }

    .js-marquee {
        display: flex;
        margin-right: 0 !important;

        .text {
            margin-bottom: 0;
            margin-right: 20px;
        }
    }
}

@media only screen and (max-width: 991px) {
    section.marquee {
        padding-top: 80px !important;
    }
}
