section.review-slider {
    .grid {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(12, 1fr);
        padding-bottom: 60px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 33.333%;
            top: 0;
            transform: translateX(-100%);
            height: 100%;
            background: $white;
            width: 100vw;
            z-index: 7;
        }

        .card {
            grid-column: span 4;
            background: $green;
            border-radius: $radius-mid;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            order: 0;
            position: relative;
            z-index: 10;

            &:nth-child(2) {
                order: 3;
            }

            h4 {
                font-size: 1.1rem;
                margin-bottom: 10px;
                font-weight: 700;
            }

            .score {
                font-family: $font-pixel;
                font-size: 100px;
                color: $green;
                line-height: 1;
            }

            &.blue {
                background: $blue;
                color: $green;

                a {
                    color: $white;
                }
            }

            > *:last-child {
                margin-bottom: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        .reviews {
            grid-column: span 8;
            grid-row: span 2;
            order: 1;

            .slider {
                padding-bottom: 0;
                height: 100%;

                .slick-dots {
                    top: calc(100% + 20px);
                }

                .slick-list,
                .slick-track {
                    height: 100%;
                    overflow: visible;
                }

                .review {
                    padding: 30px;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    border-radius: $radius-mid;
                    width: 80vw;
                    max-width: 500px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    margin-right: 20px;

                    .author {
                        margin-top: auto;
                    }

                    > *:last-child {
                        margin-bottom: 0;
                    }

                    p {
                        font-size: 1.5rem;
                        font-weight: 700;
                        line-height: 1.2;
                    }

                    .author {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        font-weight: 700;

                        img {
                            width: 50px;
                            height: 50px;
                            border-radius: 100%;
                            margin-right: 10px;
                            display: block;
                            object-fit: cover;
                            object-position: center;
                        }

                        .rating {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;

                            .star {
                                margin-right: 5px;
                                opacity: .25;

                                &.active {
                                    opacity: 1;
                                }

                                &:before {
                                    @extend .icon-font;
                                    content: '\e907';
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    section.review-slider .grid {
        &:before {
            content: none;
        }

        .card:nth-child(1) {
            order: 0;
            grid-column: span 6;
            padding: 20px;
        }

        .card:nth-child(2) {
            order: 1;
            grid-column: span 6;
            padding: 20px;
        }

        .reviews {
            grid-row: span 1;
            grid-column: span 12;
        }
    }
}

@media only screen and (max-width: 600px) {
    section.review-slider .grid {
        .card:nth-child(1) {
            order: 0;
            grid-column: span 12;
        }

        .card:nth-child(2) {
            order: 3;
            grid-column: span 12;
        }

        .reviews {
            order: 2;
            grid-row: span 1;
            grid-column: span 12;
        }
    }
}
