section.text-image {
    &.blue .content {
        background: $blue;
        color: $white;

        h2 {
            color: $green;
        }

        a {
            color: $white;
        }
    }

    &.media-first .flex-wrapper {
        flex-direction: row-reverse;

        .image {
            margin-left: 0;
            margin-right: -80px;
        }
    }

    .flex-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .content {
        width: calc(40% - 80px);
        max-width: calc(40% - 80px);
        flex-basis: calc(40% - 80px);
        position: relative;
        z-index: 5;
        background: $green;
        padding: 40px;
        border-radius: $radius-mid;
        margin-top: 80px;

        h2 {
            font-weight: 700;
        }

        > *:last-child {
            margin-bottom: 0;
        }

        .usps {
            .usp {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 5px;
                font-weight: 700;

                &:last-child {
                    margin-bottom: 0;
                }

                img {
                    width: 15px;
                    height: 18px;
                    object-fit: contain;
                    margin-right: 10px;
                    display: block;
                }
            }
        }
    }

    .image {
        margin-left: -80px;
        width: calc(60% + 160px);
        max-width: calc(60% + 160px);
        flex-basis: calc(60% + 160px);
        position: relative;
        display: block;
        border-radius: $radius-mid;
        overflow: hidden;

        &:before {
            content: '';
            padding-top: 75%;
            display: block;
        }

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

@media only screen and (max-width: 991px) {
    section.text-image {
        .flex-wrapper {
            display: block;
            margin: 0;

            > .content {
                padding: 20px;
            }

            > .content,
            > .image {
                width: 100%;
                max-width: 100%;
                flex-basis: 100%;
                margin: 0 0 20px 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
