section {
    ul,
    ol {
        margin: 0 0 20px 0;
        padding: 0;

        li {
            margin: 0 0 5px 17px;
            padding: 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

section:not(.hero):not(.cta-device) {
    overflow: hidden;

    + section:not(.cta-device) .container {
        padding-top: 0 !important;
    }
}

section:not(.hero) + section.marquee {
    margin-top: -80px;
}

@media only screen and (max-width: 991px) {
    section:not(.hero) + section.marquee {
        margin-top: -40px;
    }

}
