section {
    ul,
    ol {
        margin: 0 0 $gutter-small 0 !important;
        padding: 0;

        li {
            margin: 0 0 0 20px;
            padding: 0;
        }
    }

    ol li {
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 10;
        }
    }

    ul li {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        list-style: none;
        padding: 0;
        margin: 0 0 10px 0;

        &:last-child {
            margin-bottom: 0;
        }

        &:before {
            @extend .icon-font;
            content: '\e915';
            margin-right: 10px;
            font-size: 1.2rem;
            margin-top: 3px;
            color: $green;
        }
    }
}

section:not(.hero):not(.cta-device) {
    overflow: hidden;

    + section:not(.cta-device) .container {
        padding-top: 0 !important;
    }
}
