section {
    ul li {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        list-style: none;
        padding: 0;
        margin: 0 0 10px 0;

        &:last-child {
            margin-bottom: 0;
        }

        &:before {
            @extend .icon-font;
            content: '\e915';
            margin-right: 10px;
            font-size: 1.2rem;
            margin-top: 3px;
            color: $green;
        }
    }
}

section {
    overflow: hidden;

    + section .container {
        padding-top: 0 !important;
    }
}
