footer.footer {
    .container {
        padding-bottom: 10px !important;
    }

    .card {
        margin: 10px;
        background: $blue;
        color: $white;
        border-radius: $radius-mid;

        ul,
        ol {
            margin: 0 0 $gutter-small 0 !important;
            padding: 0;

            li {
                margin: 0 0 0 20px;
                padding: 0;
            }
        }

        ol li {
            margin-bottom: 5px;

            &:last-child {
                margin-bottom: 10;
            }
        }


        a {
            color: $white;
        }

        .flex-wrapper {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin: -20px;

            > * {
                width: calc(20% - 40px);
                max-width: calc(20% - 40px);
                flex-basis: calc(20% - 40px);
                margin: 20px;

                &:first-child p {
                    font-size: .85rem;
                }

                &:first-child,
                &:last-child {
                    width: calc(30% - 40px);
                    max-width: calc(30% - 40px);
                    flex-basis: calc(30% - 40px);
                }

                > *:last-child {
                    margin-bottom: 0;
                }

                ul {
                    margin: 0 0 20px 0;

                    li {
                        margin: 0 0 5px 0;
                        padding: 0;
                        list-style: none;

                        a {
                            font-weight: 400;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        .copyright-wrapper {
            margin-top: 80px;
            font-size: .85rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            opacity: .5;

            ul {
                margin-left: 20px;
                margin-bottom: 0;

                li {
                    margin: 0 10px 0 0;
                    padding: 0 10px 0 0;
                    display: inline-block;
                    position: relative;

                    &:last-child {
                        margin-right: 0;
                        padding-right: 0;
                        &:after {
                            content: none;
                        }
                    }

                    &:after {
                        content: '';
                        height: 80%;
                        width: 1px;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        background: $white;
                    }

                    a {
                        font-weight: 400;
                    }
                }
            }
        }
    }
}
