footer.footer {
    .container {
        padding-bottom: 40px !important;
    }

    .card {
        background: $blue;
        color: $white;
        border-radius: $radius-mid;
        width: 2000px;
        max-width: calc(100% - 20px);
        margin: 0 auto 10px auto;

        h4 {
            font-size: 1.25rem;
            font-weight: 700;
            color: $green;
        }

        ul,
        ol {
            margin: 0 0 $gutter-small 0 !important;
            padding: 0;

            li {
                margin: 0 0 0 20px;
                padding: 0;
            }
        }

        ol li {
            margin-bottom: 5px;

            &:last-child {
                margin-bottom: 10;
            }
        }


        a {
            color: $white;
        }

        .flex-wrapper {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin: -20px;

            > * {
                width: calc(20% - 40px);
                max-width: calc(20% - 40px);
                flex-basis: calc(20% - 40px);
                margin: 20px;

                &:first-child p {
                    font-size: .85rem;
                }

                .btn {
                    color: $blue !important;

                    &:hover,
                    &:focus {
                        background: $black !important;
                        color: $white !important;
                        border-color: $black !important;
                    }
                }

                &:first-child,
                &:last-child {
                    width: calc(30% - 40px);
                    max-width: calc(30% - 40px);
                    flex-basis: calc(30% - 40px);
                }

                > *:last-child {
                    margin-bottom: 0;
                }

                ul {
                    margin: 0 0 20px 0;

                    li {
                        margin: 0 0 5px 0;
                        padding: 0;
                        list-style: none;

                        a {
                            font-weight: 400;
                            transition: color 0.3s ease-in-out;

                            &:hover,
                            &:focus {
                                color: $green !important;
                            }
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }

                .wpforms-container {
                    margin: 0 0 20px 0;

                    form {
                        display: flex;
                        align-items: stretch;
                        justify-content: flex-start;

                        input {
                            height: 50px;
                            background: transparent;
                            border: 1px solid white;
                            border-radius: 100px 0 0 100px;
                            padding-right: 40px;
                            color: $white !important;
                            font-size: .9rem;

                            &::placeholder {
                                color: white !important;
                                opacity:.75;
                            }
                        }

                        .wpforms-submit-container {
                            margin: 0;
                        }

                        button {
                            height: 50px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: .9rem;
                            margin: 0 0 0 -25px;
                            border-radius: 100px;
                            background: $green !important;
                            color: $blue !important;
                            transition: all 0.3s ease-in-out;

                            &:before {
                                @extend .icon-font;
                                content: '\e906';
                                margin-right: 10px;
                                font-size: .8rem;
                                transition: all 0.3s ease-in-out;
                            }

                            &:hover,
                            &:focus {
                                background: $black !important;
                                color: $white !important;
                                border-color: $black !important;

                                &:before {
                                    color: $white !important;
                                }
                            }
                        }
                    }
                }
            }
        }

        .copyright-wrapper {
            margin-top: 80px;
            font-size: .85rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .text {
                opacity: .5;
            }

            ul {
                margin-left: 20px !important;
                margin-bottom: 0 !important;

                li {
                    margin: 0 10px 0 0;
                    padding: 0 10px 0 0;
                    display: inline-block;
                    position: relative;

                    &:last-child {
                        margin-right: 0;
                        padding-right: 0;

                        &:after {
                            content: none;
                        }
                    }

                    &:after {
                        content: '';
                        height: 80%;
                        width: 1px;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        background: $white;
                    }

                    a {
                        font-weight: 400;
                        transition: opacity 0.3s ease-in-out;
                        opacity: .5;

                        &:hover,
                        &:focus {
                            opacity: 1 !important;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1300px) {
    footer.footer .card .flex-wrapper > * {
        width: calc(50% - 40px) !important;
        max-width: calc(50% - 40px) !important;
        flex-basis: calc(50% - 40px) !important;
    }
}

@media only screen and (max-width: 991px) {
    footer.footer .card {
.container {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

        .flex-wrapper {
            display: block;
            margin: 0;

            > .col {
                width: 100% !important;
                max-width: 100% !important;
                flex-basis: 100% !important;
                margin: 0 0 40px 0;

                .btn {
                display: flex;
                width: 100%;
                }

                &:last-child {
                    margin-bottom: 0;

                    .wpforms-container {
                        margin-top: 20px !important;

                        form {
                            display: block;

                            input {
                                width: 100%;
                                border-radius: 100px;
                            }
                        }

                        button {
                            width: 100%;
                            margin: 10px 0 0 0;
                        }
                    }
                }
            }
        }

        .copyright-wrapper {
            display: block;
            margin: 60px 0 0 0;

            ul {
                margin: 0 !important;
            }

            > * {
                width: 100%;
                max-width: 100%;
                flex-basis: 100%;
                margin: 0 0 20px 0 !important;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
