// Gutters
$gutter-small: 20px;
$gutter: 40px;
$gutter-large: 80px;

// Fonts
$font-titles: 'Kinetika', sans-serif;
$font-body: 'Kinetika', sans-serif;
$font-pixel: "Pixelify Sans", sans-serif;

// Borders
$radius-small: 8px;
$radius-mid: 30px;
$radius-large: 60px;

// Colors
$text: #0325AB;
$blue: #0325AB;
$green: #D5E6AF;
$white: #ffffff;
$black: #0E0D17;
